---
title: Night of Support
---
<h1>Night of Support</h1>

<%
idx = 0

data.events.each do |key, event|

   location = event.at.to_s.split(',')
   city  = location[2].split(" ")[1]
   zip   = location[2].split(" ")[0]
   title = "##{idx+1} in #{city}"
   date  = DateTime.parse(event.date)
%>
  <div itemprop="event" itemscope itemtype="http://schema.org/Event">
    <h2 id="<%= location[0] %>-in-<%= city %>" itemprop="name" content="Night of Support <%= title %>">
      <a href="event.fbevent"><%= title %></a>
    </h2>

    <div class="meta">
      <span itemprop="startDate" content="<%= event.date %>"><span>on</span> <%= date.strftime("<span class=\"m\">%b</span>, <span class=\"d\">#{date.day.ordinalize}</span>: <span class=\"t\">%l%P</span>") %></span>

      <div itemprop="location" itemscope itemtype="http://schema.org/Place">
        <span itemprop="name"><%= location[0] %></span>

        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <span itemprop="streetAddress"><%= location[1] %></span>,
          <span itemprop="postalCode"><%= zip %></span> <span itemprop="addressLocality"><%= city %></span>
        </div>
      </div>
    </div>

    <div class="guests">
      <div>with:</div>
      <% event.guests.shuffle.each do |guest| %>
      <div class="guest">
        <img src="/images/events/<%= key %>/<%= guest.twitter %>.jpeg" />
        <span class="name"><%= guest.name -%></span>
        <span class="tagline"><%= md(guest.tagline) %></span>
        <span class="bio"><%= md(guest.bio) %></span>
        <a href="https://twitter.com/<%= guest.twitter %>">@<%= guest.twitter %> on twitter</a>
        <a href="https://github.com/<%= guest.github %>"><%= guest.github %> on github</a>
      </div>
      <% end %>
    </div>

    <div itemprop="description">
      <%= md(event.description) %>
    </div>
  </div>
<% end %>
